[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
psycopg2 = "*"
requests = "*"
smartgetenv = "*"
jsonschema = "*"
"ruamel.yaml" = "*"
"https://github.com/songbee/better-bencode/archive/0bb114b9875fac1a6829e0a7bd8ffb933c66c525.tar.gz" = "*"
"https://github.com/songbee/beerializer/archive/1b04b82c5ab93f1e32e9f4794997f4ba79920fa0.tar.gz" = "*"
Flask-API = "*"
Flask-Admin = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy-Searchable = "*"
SQLAlchemy-Utils = "*"
Flask-Migrate = "*"
