[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
psycopg2 = "*"
requests = "*"
smartgetenv = "*"
jsonschema = "*"
"ruamel.yaml" = "*"
Flask-API = "*"
Flask-Admin = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy-Searchable = "*"
SQLAlchemy-Utils = "*"
